# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/.idea.BattleAges.iml
/contentModel.xml
/projectSettingsUpdater.xml
/modules.xml
# Datasource local storage ignored files
/../../../../../../../../../../:\Users\afons\OneDrive\Unity\Projectos\BattleAges\.idea\.idea.BattleAges\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
