# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/projectSettingsUpdater.xml
/contentModel.xml
/.idea.EpochClash.iml
/modules.xml
# Datasource local storage ignored files
/../../../../../../../../../../:\Users\afons\OneDrive\Unity\Projectos\EpochClash\.idea\.idea.EpochClash\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
